<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Litter Watch | Confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="style.css" rel="stylesheet" type="text/css" />

</head>
<body id="page7">
<div id="main">
    <!-- header -->
    <div id="header">
        <ul class="site-nav">
            <li><a href="/" class="act">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/articles">Articles</a></li>
            <li th:if="${client eq null}"><a href="/signup">Sign up</a></li>
            <li th:if="${client eq null}"><a href="/login">Log in</a></li>
            <li th:if="${client ne null}"><a href="/logout">Log out</a></li>
        </ul>
    </div>

    <div class="logo"><a href="#"><img src="save.jpg" height="500px" width="1000px" alt="" /></a></div>
    <!-- content -->
    <div id="content">
        <div class="indent1">
            <h2>Thank you for taking the initiation......</h2>
            <h3>
            Your tracking ID is: <span th:text="${trackingId}"></span>

            <div> <a th:href="@{/confirm-page(trackingId=${trackingId})}">Click here to view the details of reported issue</a> </div>
            </h3>
        </div>
    </div>
    <!-- footer -->
    <div id="footer">
        <div class="indent">
            <div class="fleft">Copyright - Litter Watch 2022</div>
        </div>
    </div>
</div>



</body>
</html>
