<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Litter Watch | Log in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<style>
.form-control:focus {
        border-color: #28a745;
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    }
</style>
    <script>
        function validateform(){
var emailId=document.login.emailId.value;

if (emailId==null || emailId==""){
   alert("Email Id cannot be empty");
   return false;
}
 var password=document.login.password.value;

if (password==null || password==""){
   alert("Password cannot be empty");
   return false;
}
}
   </script>
</head>
<body id="page9">
<div id="main">
    <!-- header -->
    <div id="header">
        <ul class="site-nav nav">
            <li><a href="/" class="act">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/articles">Articles</a></li>
<!--
            <li><a href="/complaint-page">Complaint Form</a></li>
-->

            <li th:if="${client eq null}"><a href="/signup">Sign up</a></li>
            <!--<li th:if="${client eq null}"><a href="/login">Log in</a></li>-->
            <li th:if="${client ne null}"><a href="/logout">Log out</a></li>
        </ul>
    </div>

    <div class="logo"><a href="#"><img src="login1.jpeg" height="500px" width="1000px" alt="" /></a></div>
    <!-- content -->
    <div id="content">
        <div class="indent1">
            <div class="indent">
                <h2>Login Form</h2>
                <form name="login" class="row g-1 needs-validation" novalidate style="padding: 10px 100px 10px 10px;margin: 10px 10px 10px 10px;" action="/login" method="POST" onsubmit="return validateform()" >
                    <div class="col-md-12">
                        <label for="validationCustom01" class="form-label">Enter EmailId:</label>
                        <input type="text" class="form-control" id="validationCustom01"  th:text="${client_emailId}" name="emailId"required>
                    </div>
                    <div class="col-md-12">
                        <label for="validationCustom02" class="form-label">Enter your password:</label>
                        <input type="password" class="form-control" id="validationCustom02" th:text="${client_password}"  name="password"required>
                    </div>
                    <div class="col-md-12">
                        <button style="margin:20px 0px 20px 0px" class="btn btn-secondary" type="submit">submit</button>
                    </div>
                    <div>
                        <a style="color:#89b700" href="/signup"><i>Click here to Sign Up</i></a>
                    </div>
                </form>
            </div>
        </div>


        <!-- footer -->
        <div id="footer">
            <div class="indent">
                <div class="fleft">Copyright - Litter Watch 2022</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

