<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Litter Watch | Site Map</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="style.css" rel="stylesheet" type="text/css" />

<!--<!DOCTYPE html>
&lt;!&ndash;<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">&ndash;&gt;
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="layout(content)">
<head>
  <title>Litter Watch | Site Map</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">-->


</head>
<body id="page8">
<div id="main">
  <!-- header -->
  <div id="header">
    <ul class="site-nav">
      <li><a href="/" class="act">Home</a></li>
      <li><a href="/about-us">About Us</a></li>
      <li><a href="/articles">Articles</a></li>
<!--
      <li><a href="/complaint-page">Complaint Form</a></li>
-->
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/login">Log in</a></li>
    </ul>

  </div>



  <div class="logo"><a href="#"><img src="image18.jpg" height="500px" width="1000px" alt="" /></a></div>
   content
  <div id="content">
    <div class="indent1">
      <h2>Site Map</h2>
      <p>Navigate through the site using the following directories.</p>
      <ul class="list2">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Articles</a>
          <ul>
            <li><a href="article.html">Article 1</a></li>
            <li><a href="#">Article 2</a></li>
            <li><a href="#">Article 3</a></li>
          </ul>
        </li>
        <li><a href="#">Complaint Form</a></li>
      </ul>
      <p></p>
    </div>
  </div>
  <!-- footer -->
  <div id="footer">
    <div class="indent">
      <div class="fleft">Copyright - Litter Watch 2022</div>
    </div>
  </div>
</div>
<!--<div th:replace="${content}"></div>-->
</body>
</html>
